
.hide {
    display: none;

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.symptoms-list {
  width: 200px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

}