
.hide {
    display: none;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}


.symptoms-list {
  width: 200px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

}

header{
  background-color: #505A5B;
  padding: 1px;
  color: white;
  text-align: center;
  font-size: 42px;
}

.footer-left{
  float: left;
}

.footer-right{
  float: right;
}

ul {
  list-style-type: none;
}

h2 {
  size: 12px;
  font-weight: bold;
}

.card {
  background-color: lightblue;
  border-radius: 7px;
  margin-right: 3%;
  margin-left: auto;
}

.pure-u-md-1-4 {
  float: left;
  margin-left: 4%;
  background-color: rgb(255, 165, 0, .75);
  text-align: center;
  margin-top: 1.5%;
  border-radius: 7px;
}

.pure-u-md-3-5 {
  width: 60%;
  margin-right: 3%;
  margin-left: auto;
}

#message {
  font-weight: bold;
  font-size: 24px;
  margin-top: 1%;
}